
@import "../../style.scss";

.rightBar{
    flex:2;
    position:sticky;
    top: 70px;
    height:calc(100vh - 70px);
    overflow: scroll;
    background-color: rgb(246, 214, 247);
    &::-webkit-scrollbar{
      display:none;

      @include mobile{
        display: none;
      }
      @include tablet{
        display: none;
      }
  
      &::-webkit-scrollbar {
        display: none;
      }
  

    }
   
  }

